## 1.Define python

python is a high-level programming language that humans can understand and use to program the function in the computer.

## 2.Create five valid and five Invalid vriables

In [8]:
#Valid Variables
_Name_="Madan Datta"
age=21
D3partment="Data Science"
D_e_s_i_g_n_a_t_i_o_n="Data Analyst"
company_Name_="Teks Acedamy"
print(_Name_)
print(age)
print(D3partment)
print(D_e_s_i_g_n_a_t_i_o_n)
print(company_Name_)

Madan Datta
21
Data Science
Data Analyst
Teks Acedamy

In [5]:
#Invalid Variables
9Name10="Madan Datta"
@In$t!tut3="Teks Acedamy"
^C^o^u^r^s^e="Data Science"
Facul&y="Vamsi Sir"
50Duration6="Six Months"

SyntaxError: invalid decimal literal (482146171.py, line 2)

## 3.Define list,create a list with 10 items, and access one-by-one

  -List is a type of data in which they are mentioned in square brackets and each element is separated by commas

In [12]:
Data=[1,2,3,4,5,6,7,8,9,10]
#Positive indexing
print(Data[0])
print(Data[1])
print(Data[2])
print(Data[3])
print(Data[4])
print(Data[5])
print(Data[6])
print(Data[7])
print(Data[8])
print(Data[9])

#Negative indexing
print(Data[-1])
print(Data[-2])
print(Data[-3])
print(Data[-4])
print(Data[-5])
print(Data[-6])
print(Data[-7])
print(Data[-8])
print(Data[-9])
print(Data[-10])

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

## 4. Define String,create a String with 10 elements, and access one-by-one

In [14]:
Name= "MadanDattaVema"

#positive Indexing
print(Name[0])
print(Name[1])
print(Name[2])
print(Name[3])
print(Name[4])
print(Name[5])
print(Name[6])
print(Name[7])
print(Name[8])
print(Name[9])
print(Name[10])
print(Name[11])
print(Name[12])
print(Name[13])

#Negative Indexing
print(Name[-1])
print(Name[-2])
print(Name[-3])
print(Name[-4])
print(Name[-5])
print(Name[-6])
print(Name[-7])
print(Name[-8])
print(Name[-9])
print(Name[-10])
print(Name[-11])
print(Name[-12])
print(Name[-13])

M
a
d
a
n
D
a
t
t
a
V
e
m
a
a
m
e
V
a
t
t
a
D
n
a
d
a

## 5. Define Dictionary, create a Dictionary with 10 elements, and access one by one

A dictionary is a type of data that is represented as a Key value pair represented in curly braces and each pair is separated by comma.

In [11]:
couples={"Suryanarayana": "Naga Lakshmi",
         "Yenadisetti": "Lakshmi kumari",
          "NagaDurgaprasad": "Joythi",
         "Srinivasrao": "Lakshmi kanthamma",
         "Adiseshu":"Geetha",
         "Ramanjinaylu": "Umadevi", 
         "Gupta": "Anasuya",
         " Suresh ": "Lalitha",
         "Mallikarjuna rao":"Surya kantam",
         "Bala Baskar": "Nagaraja"}
#x=couples.items()
print(couples["Suryanarayana"])
print(couples["Yenadisetti"])
print(couples["NagaDurgaprasad"])
print(couples["Srinivasrao"])
print(couples["Adiseshu"])
print(couples["Ramanjinaylu"])
print(couples["Gupta"])
print(couples[" Suresh "])
print(couples["Mallikarjuna rao"])
print(couples["Bala Baskar"])

TypeError: dict.items() takes no arguments (1 given)